// basic colors
$black: #000;
$white: #FFF;
$gray: #808080;

// white variations
$white-2: #F4F4F4; // clear white
$white-3: #F6F6F6; // dove gray

// gray variations
$gray-2: #DEDEDE; // edge gray
$gray-3: #A9A9A9; // dark gray
$gray-4: #D3D3D3; // light gray
$gray-5: #AEAEAE; // web gray

// fonts
$text-default: #212529;